<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90fcbb">  <td>20/08/15 19:50:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;frontPageTest.setup()[pri:0, instance:com.Test.frontPageTest@75db5df9]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@848363848</td>   <td></td> </tr>
<tr bgcolor="90fcbb">  <td>20/08/15 19:51:06</td>   <td>7512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="frontPageTest.gmailLinkTest()[pri:0, instance:com.Test.frontPageTest@75db5df9]">gmailLinkTest</td> 
  <td>main@848363848</td>   <td></td> </tr>
<tr bgcolor="90fcbb">  <td>20/08/15 19:51:17</td>   <td>18150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;frontPageTest.tearDown()[pri:0, instance:com.Test.frontPageTest@75db5df9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@848363848</td>   <td></td> </tr>
</table>
